Repository IT-EXPERTS-AT/tagger: changes, and which Codecov flags are due for each by the changed paths.
All: moduleA, moduleB

Add github action
  .github/workflows/taggercli-validate.yml
  taggercli/tox.ini
Due: moduleA

Add black check to action
  .github/workflows/taggercli-validate.yml
Due: none

Add codecov to action
  .github/workflows/taggercli-validate.yml
  codecov.yml
  taggercli/.gitignore
  taggercli/tox.ini
Due: moduleA

Add badges and rename github action
  .github/workflows/cli-build.yml
  taggercli/README.md
Due: moduleA

Fix name and include demo gif
  .github/workflows/cli-build.yml
  taggercli/README.md
Due: moduleA

Add github action build for taggercore
  .github/workflows/core-build.yml
  taggercli/tox.ini
  taggercore/README.md
  taggercore/test/__init__.py
  taggercore/test/scanner/test_global_scanner.py
  taggercore/test/scanner/test_region_scanner.py
  taggercore/tox.ini
Due: moduleA, moduleB

Delete unused stub files
  taggercore/test/core_resource_stubs.py
  taggercore/test/resource_stub.py
Due: moduleB

Add taggercore module to codecov.yml
  codecov.yml
Due: none

Refactor test stubs into fixture to avoid import errors
  .github/workflows/cli-build.yml
  .github/workflows/core-build.yml
  taggercore/test/__init__.py
  taggercore/test/conftest.py
  taggercore/test/core_resource_stubs.py
  taggercore/test/resource_stub.py
  taggercore/test/scanner/test_global_scanner.py
  taggercore/test/scanner/test_region_scanner.py
  taggercore/test/stubs/__init__.py
  taggercore/test/tagger/test_global_tagger.py
  taggercore/test/tagger/test_iam_tagger.py
  taggercore/test/tagger/test_region_tagger.py
  taggercore/test/tagger/test_super_tagger.py
  taggercore/test/usecase/test_perform_tagging.py
  taggercore/test/usecase/test_scan.py
  taggercore/test/usecase/test_scan_and_compare.py
  taggercore/tox.ini
Due: moduleB

Improve tests for tagger classes, refactor api tagger for testing
  taggercore/README.md
  taggercore/taggercore/tagger/abstract_resource_group_api_tagger.py
  taggercore/test/conftest.py
  taggercore/test/tagger/test_iam_tagger.py
  taggercore/test/tagger/test_super_tagger.py
Due: moduleB

Improve region tagger tests
  taggercore/test/tagger/test_region_tagger.py
Due: moduleB

Fix paths in codecov.yml
  codecov.yml
Due: none

Add carryforward flag to codecov.yml
  codecov.yml
Due: none

Add IAM instance-profile to untaggable resources
  taggercore/taggercore/tagger/super_tagger.py
Due: moduleB

Pass credentials to skew in set config
  taggercore/taggercore/config/config.py
  taggercore/test/usecase/test_set_config.py
Due: moduleB

Update requirements and added dev requirements
  taggerlambda/dev-requirements.txt
  taggerlambda/requirements.txt
Due: none

Update gitignore
  taggerlambda/.gitignore
Due: none

Fix import by making src a module
  taggerlambda/src/__init__.py
Due: none

Format with black
  taggerlambda/src/tagging_lambda.py
  taggerlambda/test/test_lambda.py
Due: none

Reformat with black
  taggerlambda/src/lambda.py
Due: none

Added tests
  taggerlambda/test/__init__.py
  taggerlambda/test/test_lambda.py
Due: none

Improve README.md
  taggerlambda/.gitignore
  taggerlambda/README.md
  taggerlambda/tagging_architecture_account_env_tags.jpg
  taggerlambda/template_account.yml
  taggerlambda/template_cross_account.yml
Due: none

Improve readme
  taggerlambda/README.md
Due: none

Add tagging-lambda
  taggerlambda/.gitignore
  taggerlambda/README.md
  taggerlambda/requirements.txt
  taggerlambda/src/lambda.py
  taggerlambda/tagging_architecture_cross_account_account_tags.jpg
  taggerlambda/tagging_architecture_cross_account_env_tags.jpg
  taggerlambda/template.yml
Due: none

Remove unnecessary print statement
  taggerlambda/src/tagging_lambda.py
Due: none

Rename lambda to avoid confusion with keyword 'lambda'
  taggerlambda/src/__init__.py
  taggerlambda/src/tagging_lambda.py
  taggerlambda/template_account.yml
  taggerlambda/template_cross_account.yml
Due: none

Use master branch in for taggercore
  taggerlambda/requirements.txt
Due: none

Improve result logging
  taggerlambda/src/tagging_lambda.py
  taggerlambda/test/test_lambda.py
Due: none

Add license
  taggerlambda/README.md
  taggerlambda/src/__init__.py
  taggerlambda/src/tagging_lambda.py
  taggerlambda/template_account.yml
  taggerlambda/template_cross_account.yml
  taggerlambda/test/__init__.py
  taggerlambda/test/test_lambda.py
Due: none

Set default schedule to daily execution
  taggerlambda/template_account.yml
  taggerlambda/template_cross_account.yml
Due: none

Fix wording and format in README.md
  taggerlambda/README.md
Due: none

Include lambda in main README
  README.md
Due: none

Add github action for taggerlambda
  .github/workflows/lambda-build.yml
  codecov.yml
Due: none

Add black to README.md
  taggerlambda/README.md
Due: none

Install deps via requirements txt
  .github/workflows/lambda-build.yml
Due: none

Add badges to README
  taggerlambda/README.md
Due: none

Reorder badges in main README.md
  README.md
Due: none

Path conditions:
  moduleA: any of: taggercli
  moduleB: any of: taggercore
